body {
    font-family: Arial, sans-serif;
    background: rgb(34,151,195);
    background: linear-gradient(0deg, rgba(34,151,195,1) 0%, rgba(253,251,45,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #000;
    font-size: 2.5rem;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #d0d0d0;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.message {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #000;
}
